= render('layouts/header')
.background-image-wrapper
  .container
    .welcome-block
      %h1 Log in
      .row{:style => "padding-bottom: 30px;"}
        .col-md-6.col-md-offset-3{:style => "text-align:center; color:#ffffff;"}
          = simple_form_for(:session, url: login_path) do |f|
            = f.label "Username"
            = f.input :username, class: 'form-control', :label => false, :input_html => {:style=> 'color:#000000'}
            %br
            = f.label "password"
            = f.input :password, class: 'form-control', :label => false, :input_html => {:style=> 'color:#000000'}
            %br
            = f.submit "Log in", class: "btn btn-primary"
