!!!
%html
  %head
    -# = favicon_link_tag
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Dr.Zadeh
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}

  %body
    = yield
= render('layouts/footer')
